*,html{
    margin: 0%;
    padding: 0%;
}
.body{
    color: white;
}
.navbar{
    background-color: rgb(244, 249, 247);
    height: 10vh;
}
.img-content{
    width: 75px;
    height: 75px;
    margin-right: 10px;
    padding-right: 10px;
}
.container-img{
    height: 20vh;
    justify-content: center;
    align-items: center;
    display: flex;
    

}   
.container-content{
    display:block;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: just;
    height: 80vh;
    margin-top: 10px;
    font-size: 20px;
}
.container-font{
    display: block;
    font-size: 20px;
    justify-content: baseline;
    align-items:end;
    text-align:left;
    margin-left: 250px;
    margin-right: 250px;
}
.figure-content{
    font-size: 15px;
    padding-right: 20px;
    font-weight: bold;
}